<!DOCTYPE html>
<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header">
        <ul>
          <li>
            <h1 class="left pad">Demo Mode</h1>
            <button type="button" class="btn btn-danger close right" ng-click="closeModal('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
          </li>
        </ul>
      </div>
      <div class="modal-body">
        <div id="loginTiles">
          <p>Description and info about Demo Mode</p>
          <br class="clear" /><br />
        </div>
      </div>
    </div>
  </div>
  <div ng-click="closeModal('close')" class="modal-backdrop fade in"></div>
</div>
